<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734987509885-329rqqno1slam7rgosrp6dspg8hb5gu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734987509885-329rqqno1slam7rgosrp6dspg8hb5gu1</string>
	<key>API_KEY</key>
	<string>AIzaSyAa8QL7cXQp4Nblap-l_QSX7pJC4gk5T0g</string>
	<key>GCM_SENDER_ID</key>
	<string>734987509885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab3Mis</string>
	<key>PROJECT_ID</key>
	<string>mis-laboratory</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-laboratory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734987509885:ios:1a4601fa6ef0d182141114</string>
</dict>
</plist>